/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}

.css-grid-global{
    display: grid;
    grid-template-columns: 24px auto auto 24px;
    grid-template-areas: ". header header .";

    @include xxl{
        grid-template-columns: auto 1440 1440 auto;
    }
    @include xl{
        grid-template-columns: auto 1200 1200 auto;
    }
    @include lg{
        grid-template-columns: auto 1024 1024 auto;
    }
    @include md{
        grid-template-columns: auto 768 768 auto;
    
    >div {
        grid-area: header;
}
}

.show-for-md{
    display: none;

    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;

    @include lg{
        display: block;
    }
}
.show-for-xxl{
    display: none;

    @include xxl{
        display: block;
    }
}
}